.wy-plain-list-disc,
.rst-content section ul,
.rst-content .toctree-wrapper ul,
article ul {
    list-style:disc;
    line-height:24px;
    margin-bottom:24px
}


.wy-plain-list-disc li,
.rst-content section ul li,
.rst-content .toctree-wrapper ul li,
article ul li {
    list-style:disc;
    margin-left:24px
}

.wy-plain-list-disc li p:last-child,
.rst-content section ul li p:last-child,
.rst-content .toctree-wrapper ul li p:last-child,
article ul li p:last-child {
    margin-bottom:0
}

.wy-plain-list-disc li ul,
.rst-content section ul li ul,
.rst-content .toctree-wrapper ul li ul,
article ul li ul {
    margin-bottom:0
}

.wy-plain-list-disc li li,
.rst-content section ul li li,
.rst-content .toctree-wrapper ul li li,
article ul li li {
    list-style:circle
}

.wy-plain-list-disc li li li,
.rst-content section ul li li li,
.rst-content .toctree-wrapper ul li li li,
article ul li li li {
    list-style:square
}

.wy-plain-list-disc li ol li,
.rst-content section ul li ol li,
.rst-content .toctree-wrapper ul li ol li,
article ul li ol li {
    list-style:decimal
}

.wy-plain-list-decimal,
.rst-content section ol,
.rst-content ol.arabic,
article ol {
    list-style:decimal;
    line-height:24px;
    margin-bottom:24px
}

.wy-plain-list-decimal li,
.rst-content section ol li,
.rst-content ol.arabic li,
article ol li {
    list-style:decimal;
    margin-left:24px
}

.wy-plain-list-decimal li p:last-child,
.rst-content section ol li p:last-child,
.rst-content ol.arabic li p:last-child,
article ol li p:last-child {
    margin-bottom:0
}

.wy-plain-list-decimal li ul,
.rst-content section ol li ul,
.rst-content ol.arabic li ul,
article ol li ul {
    margin-bottom:0
}

.wy-plain-list-decimal li ul li,
.rst-content section ol li ul li,
.rst-content ol.arabic li ul li,
article ol li ul li {
    list-style:disc
}
